<a href="https://colab.research.google.com/github/SimeonHristov99/ML_21-22/blob/main/Week_01_Hello%2C_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, Python!

<!-- # === h1 -->

## Introduction

Notebooks are composed of editable blocks (called "cells") of text and code.

I am a text cell :). Double click to edit me.

In [ ]:
# I am a code cell :). Click one time to edit me.

Run a cell: click on the cell and press `Ctrl + Enter`. If you press `Shift + Enter`, you'll execute the current cell and go to the next cell.

Shortcuts:

- `Ctrl + Shift + Space`: See docstring.
- `Ctrl + M + B`: New code cell.
- `Ctrl + M + M`: Turn code cell into markdown cell.
- `Ctrl + M + D`: Delete cell.

Notes:

- Basic Python operations

| Operator | Name           | Description                                    |
| -------- | -------------- | ---------------------------------------------- |
| a + b    | Addition       | Sum of a and b                                 |
| a - b    | Subtraction    | Difference of a and b                          |
| a * b    | Multiplication | Product of a and b                             |
| a / b    | True division  | Quotient of a and b                            |
| a // b   | Floor division | Quotient of a and b, removing fractional parts |
| a % b    | Modulus        | Integer remainder after division of a by b     |
| a ** b   | Exponentiation | a raised to the power of b                     |
| -a       | Negation       | The negative of a                              |

- `type(19.95)`: Check the type of a variable or a constant.
- `abs(-32)` --> 32
- `float(10)` --> 10.0
- `int(3.33)` --> 3
- `str(3.33)` --> '3.33'

## Basics

In [ ]:
# create a variable called color with an appropriate value and print it
color = 'white'
print(color)
'Hello, world'

white

'Hello, world'

In [ ]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter
radius = diameter / 2

# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared
area = pi * radius ** 2
area

7.0685775

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]

# Swap the values to which a and b refer.
a, b = b, a

In [ ]:
a, b

([3, 2, 1], [1, 2, 3])

In [ ]:
# Reverse a
a[::-1]

[1, 2, 3]

In [ ]:
# Add parentheses and operators to the following expression so that it evaluates to 1.
5 // (3 + 2)

1

In [ ]:
# In case you need a documentation for a particular function
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

`help()` displays two things:

  1. the header of that function `round(number, ndigits=None)`. In this case, this tells us that `round()` takes an argument we can describe as number. Additionally, we can optionally give a separate argument which could be described as `ndigits`.
  2. A brief description of what the function does.

> **Common pitfall**: when you're looking up a function, remember to pass in the name of the function itself, and not the result of calling that function.

In [ ]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

**Functions and Docstrings**

In [ ]:
def least_difference(a, b, c):
  """Return the smallest difference between any two numbers
  among a, b and c.
  
  >>> least_difference(1, 5, -5)
  4
  """
  v1 = abs(a - b)
  v2 = abs(b - c)
  v3 = abs(a - c)
  return min(v1, v2, v3)

least_difference(1, 5, -5)

4

In [ ]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

**Keyword (default) arguments**

In [ ]:
def greet(who="Colin"):
    print(f'Hello, {who}')
    
greet()
greet(who='Simo')
greet('Simo2')

Hello, Colin
Hello, Simo
Hello, Simo2

In [ ]:
"'sdgsdsd"

"'sdgsdsd"

**Lambda functions**

In [ ]:
def is_odd():
  return lambda x: x % 2 != 0

In [ ]:
is_odd()(6)

False

**Combining Boolean Values**

You can combine boolean values using the standard concepts of "and", "or", and "not". In fact, the words to do this are: and, or, and not.

With these, we can make our can_run_for_president function more accurate.

In [ ]:
def can_run_for_president(age, is_natural_born_citizen):
  """Can someone of the given age and citizenship status run for president in the US?"""
  # The US Constitution says you must be a natural born citizen *and* at least 35 years old
  return is_natural_born_citizen and age >= 35

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

**Conditionals**

Booleans are most useful when combined with conditional statements, using the keywords `if`, `elif`, and `else`.

In [ ]:
def inspect(x):
  if x == 0:
    print(x, "is zero")
  elif x > 0:
    print(x, "is positive")
  elif x < 0:
    print(x, "is negative")
  else:
    print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)

0 is zero
-15 is negative

In [ ]:
def f(x):
  if x > 0:
    print(f'Only printed when x is positive; x = {x}')
    print(f'Also only printed when x is positive; x = {x}')

  print(f'Always printed, regardless of x\'s value; x = {x}')
  # print(f"Always printed, regardless of x's value; x = {x}")



f(1)
f(10)
f(0)

# How to get the following output?
# Only printed when x is positive; x = 1
# Also only printed when x is positive; x = 1
# Always printed, regardless of x's value; x = 1
# Always printed, regardless of x's value; x = 0

Only printed when x is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Only printed when x is positive; x = 10
Also only printed when x is positive; x = 10
Always printed, regardless of x's value; x = 10
Always printed, regardless of x's value; x = 0

**Boolean conversion**

We've seen `int()`, which turns things into `int`s, and `float()`, which turns things into `float`s. Python also has a `bool()` function which turns things into `bool`s.

In [ ]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))

True
False
True
False

> **Tip**: Generally empty sequences (strings, lists, tuples, dictionaries) are `false`y and the rest are `truth`y.

## Lists

In [ ]:
# A list can contain a mix of different types of variables
my_favourite_things = [32, 'raindrops on roses', help]
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [ ]:
my_favourite_things[1]

'raindrops on roses'

In [ ]:
my_favourite_things[-1]

Type help() for interactive help, or help(object) for help about object.

In [ ]:
my_favourite_things[-2]

'raindrops on roses'

In [ ]:
my_favourite_things[1:]

['raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [ ]:
my_favourite_things[0:1]

[32]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
planets[:-2]

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn']

**Useful list functions**

Check out all of them [here](https://docs.python.org/3/tutorial/datastructures.html).

In [ ]:
# How many planets are there?
len(planets)

8

In [ ]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
planets.sort()

In [ ]:
planets

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
primes = [2, 3, 5, 7]

# Find the sum of the prime numbers
sum(primes)

17

In [ ]:
# Find the largest number
max(primes)

7

In [ ]:
# Add 'Pluto' to the list of planets.
planets.append('Pluto')

In [ ]:
primes

[2, 3, 5, 7]

In [ ]:
planets

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus',
 'Pluto']

In [ ]:
# Remove 'Pluto' from the list of planets.
primes.pop()

7

In [ ]:
primes

[2, 3, 5]

In [ ]:
# Get the index of `Earth`
planets.index('Earth')

0

In [ ]:
planets.append('Earth')
planets.index('Earth')

0

In [ ]:
# planets.index(7)

In [ ]:
# Is `Earth` a planet?
'Earth' in planets

True

In [ ]:
# Is `Pluto` a planet?
'Pluto' in planets

True

## Tuples

In [ ]:
# Create a tuple from the numbers 1, 2 and 3
t = (1, 2, 3)

In [ ]:
# t[0] = 100
t

(1, 2, 3)

## Loops

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
# print all on 1 line
for planet in planets:
  print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
# print all the uppercase letters in s again on 1 line
for char in s:
  if char.isupper():
    print(char, end='')

HELLO

**range()**

`range()` is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

For example, if we want to repeat some action 5 times.

In [ ]:
for i in range(5):  # yield
  print(f'Doing important work. i={i}')

Doing important work. i=0
Doing important work. i=1
Doing important work. i=2
Doing important work. i=3
Doing important work. i=4

In [ ]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
for i in range(8):
  print(f'The {i}th planet is {planets[i]}')

The 0th planet is Mercury
The 1th planet is Venus
The 2th planet is Earth
The 3th planet is Mars
The 4th planet is Jupiter
The 5th planet is Saturn
The 6th planet is Uranus
The 7th planet is Neptune

In [ ]:
# zip [0 ..] planets
# [(0, 'Mercury')]

In [ ]:
# How to get the following output?
# The 0th planet is Mercury
# The 1th planet is Venus
# The 2th planet is Earth
# The 3th planet is Mars
# The 4th planet is Jupiter
# The 5th planet is Saturn
# The 6th planet is Uranus
# The 7th planet is Neptune
for idx, planet in enumerate(planets):
  print(f'The {idx}th planet is {planet}')

The 0th planet is Mercury
The 1th planet is Venus
The 2th planet is Earth
The 3th planet is Mars
The 4th planet is Jupiter
The 5th planet is Saturn
The 6th planet is Uranus
The 7th planet is Neptune

**List comprehension**

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

In [ ]:
# Resolve using LC
''.join([ char for char in s if char.isupper() ])

'HELLO'

In [ ]:
# Resolve using generators (itertools)
''.join(list(filter(lambda x: x.isupper(), s)))

'HELLO'

In [ ]:
# Resolve using higher order functions and partial function application
''.join(list(filter(str.isupper, s)))

'HELLO'

In [ ]:
# Get the squares of the numbers [0 .. 9] using a for-loop
squares = []
for i in range(10):
  squares.append(i * i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Get the squares of the numbers [0 .. 9] using LC
[ i * i for i in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Get the names of all planets with less than 6 characters using LC
x = [ planet for planet in planets if len(planet) < 6]
x

['Venus', 'Earth', 'Mars']

In [ ]:
# How to get the following ouput?
# ['VENUS!', 'EARTH!', 'MARS!']
[ f'{el.upper()}!' for el in x ]

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
# The SQL analogy
[
  x
 for el in x
  if len(x) < 6
]

[['Venus', 'Earth', 'Mars'],
 ['Venus', 'Earth', 'Mars'],
 ['Venus', 'Earth', 'Mars']]

In [ ]:
# Use for-loop
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    res = 0
    
    for n in nums:
      if n < 0:
        res += 1

    return res

count_negatives([5, -1, -2, 0, 3])

2

In [ ]:
# Use LC
def count_negatives(nums):
  return len([n for n in nums if n < 0])

In [ ]:
# Use higher order functions
def count_negatives(nums):
  return len(list(filter(lambda x: x < 0, nums)))

In [ ]:
# Use boolean implicit casting
def count_negatives(nums):
  return sum([ n < 0 for n in nums ] )

In [ ]:
count_negatives([5, -1, -2, 0, 3])

2

# For Home

## Strings

In [ ]:
# can be defined using either single or double quotation
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [ ]:
# Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe).
# Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes

print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [ ]:
# If we try to put a single quote character inside a single-quoted string, Python gets confused. Uncomment to see
# 'Pluto's a planet!'

Python's triple quote syntax for strings lets us include newlines
literally (i.e. by just hitting `Enter` on our keyboard, rather than using
the special `\n` sequence). We've already seen this in the docstrings we
use to document our functions, but we can use them anywhere
we want to define a string.

In [ ]:
hello = "hello\nworld"
print(hello)

triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world
hello
world

True

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

> **Common pitfall**: Strings differ from lists is that they are immutable. We can't modify them.

In [ ]:
# planet[0] = 'B'
# planet.append doesn't work either

**String methods**

Like `list`, the type `str` has lots of very useful methods. See all of them [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [8]:
claim = "Pluto is a planet!"

In [6]:
# Convert the `claim` variable into all uppercase
claim.upper()

'PLUTO IS A PLANET!'

In [7]:
# Convert the `claim` variable into all lowercase
claim.lower()

'pluto is a planet!'

In [ ]:
# Searching for the first index of a substring
claim.index('plan')

11

In [19]:
# Use a function that checks whether `claim` starts with the substring 'Pluto'
claim.startswith('Pluto')

True

In [33]:
# Use a function that checks whether `claim` ends with the substring 'Test'
claim.endswith('Test')

False

Going between strings and lists: `.split()` and `.join()`.

`str.split()` turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words.

In [ ]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [ ]:
# Occasionally you'll want to split on something other than whitespace:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year, month, day

('1956', '01', '31')

`str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [ ]:
'/'.join([month, day, year])

'01/31/1956'

## Dictionaries

A data structure for mapping keys to values.

In [20]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'three': 3, 'two': 2}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [ ]:
numbers.keys(), numbers.values()

(dict_keys(['one', 'two', 'three']), dict_values([1, 2, 3]))

In [ ]:
numbers['one']

1

In [ ]:
# We can use the same syntax to add another key, value pair
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [21]:
# Or to change the value associated with an existing key
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'three': 3, 'two': 2}

In [26]:
# Dict comprehensions!
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Create a dictionary that maps every name to its first letter
# Result should be:
# {'Earth': 'E',
#  'Jupiter': 'J',
#  'Mars': 'M',
#  'Mercury': 'M',
#  'Neptune': 'N',
#  'Saturn': 'S',
#  'Uranus': 'U',
#  'Venus': 'V'}

planets_dict = {x: x[0] for x in planets}
planets_dict

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

In [30]:
# Check if a value is in the dictionary. For example, check if Earth is a planet
if 'Earth' in planets_dict.keys():
  print("True")
else:
  print("False")

True

In [ ]:
# A for loop over a dictionary will loop over its KEYS !!!
for k in numbers:
  print(f'{k} => {numbers[k]}')

one => Pluto
two => 2
three => 3
eleven => 11

In [34]:
# Loop over the `numbers` dictionary so as to get both the key and value at each step.
# Try to get the same output that is in the previous step
for k in numbers:
  print(f'{k} => {numbers[k]}')

one => Pluto
two => 2
three => 3

In [59]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
# Result should be: 'E J M M N S U V'
a = [x for x in planets_dict.values()]
a.sort()
' '.join(a)

'E J M M N S U V'