# Hello, [Pandas](https://pandas.pydata.org/docs/reference/index.html)!

## What is pandas?

- (in short) data analysis library
- (according to the official website) "an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language."

## Download data

We will be using the [Stack Overflow Annual Developer Survey](https://insights.stackoverflow.com/survey) results from last year.

In [ ]:
!wget https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2021.zip -O tmp.zip
!unzip tmp.zip -d ./data
!rm tmp.zip

--2022-03-10 13:21:02--  https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2021.zip
Resolving info.stackoverflowsolutions.com (info.stackoverflowsolutions.com)... 104.17.72.206, 104.17.70.206, 104.17.73.206, ...
Connecting to info.stackoverflowsolutions.com (info.stackoverflowsolutions.com)|104.17.72.206|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8825103 (8.4M) [application/zip]
Saving to: ‘tmp.zip’

tmp.zip             100%[===================>]   8.42M  28.9MB/s    in 0.3s

2022-03-10 13:21:03 (28.9 MB/s) - ‘tmp.zip’ saved [8825103/8825103]

Archive:  tmp.zip
  inflating: ./data/README_2021.txt
  inflating: ./data/so_survey_2021.pdf
  inflating: ./data/survey_results_public.csv
  inflating: ./data/survey_results_schema.csv

## Imports and Constants

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
DATA_PATH = '/content/data/survey_results_public.csv'
SCHEMA_PATH = '/content/data/survey_results_schema.csv'

## Load the data into a DataFrame

A **dataframe** is a tablular representation of data, i.e. rows and columns of data.

In [ ]:
df = pd.read_csv(DATA_PATH)
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# (num_rows, num_cols)
df.shape

(83439, 48)

In [ ]:
# With `.info()` you see the column names as well as their type and whether they have any missing entries.
# The type `object` usually refers to string.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [ ]:
pd.set_option('display.max_columns', df.shape[1])
# pd.set_option('display.max_rows', df.shape[0]) # In case you want to see all rows
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# In order to see what question each of these columns refer to, we need to load the schema.
schema_df = pd.read_csv(SCHEMA_PATH)
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [ ]:
# See the first 5 rows
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
# See the first n rows
df.head(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,Ruby,MySQL;PostgreSQL;SQLite,PostgreSQL,Heroku;Microsoft Azure,Heroku,Angular.js;jQuery;Ruby on Rails,Ruby on Rails,NaN,NaN,NaN,NaN,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0

In [ ]:
# See the last 5 rows
df.tail()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# See the last 10 rows
df.tail(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83431,83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,"Developer, mobile;Developer, desktop or enterp...",2 to 9 employees,PKR\tPakistani rupee,150000.0,Monthly,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...,C#;Dart;HTML/CSS;JavaScript;Kotlin;Node.js;Pyt...,Firebase;MySQL;SQLite,DynamoDB;Firebase;MongoDB;MySQL;SQLite,Google Cloud Platform,AWS;Google Cloud Platform,Flask;jQuery,Angular;Django;Flask;jQuery;Laravel,Flutter,Flutter;Hadoop;NumPy;TensorFlow;Torch/PyTorch,Git,Docker;Git,Android Studio;IntelliJ;IPython/Jupyter;Notepa...,Android Studio;IntelliJ;IPython/Jupyter;PyChar...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83432,83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,Less than 1 year,"Developer, back-end","10,000 or more employees",CAD\tCanadian dollar,106000.0,Yearly,Ruby,Java;Ruby;TypeScript,MySQL;PostgreSQL,NaN,Google Cloud Platform;Heroku,NaN,Flask;React.js;Ruby on Rails;Vue.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,Docker;Git;Kubernetes;Yarn,NaN,Atom;IPython/Jupyter;Vim;Visual Studio Code,NaN,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,"No, not really",No,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0
83433,83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,11,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",BRL\tBrazilian real,80000.0,Yearly,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,Firebase;MongoDB;MySQL;SQLite,NaN,NaN,NaN,React.js,NaN,React Native,Flutter,Docker;Git;Yarn,Docker;Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

## Selecting Rows and Columns

If we wanted to store information about a person, we could use the following format.

In [ ]:
person = {
    'first': 'SimoFirst',
    'last': 'SimoLast',
    'email': 's.e.hristov99@gmail.com'
}

However, we can't store information about multiple people. For that, we would need this approach.

In [ ]:
people = {
    'first': ['SimoFirst', 'Jane', 'John'],
    'last': ['SimoLast', 'Doe', 'Doe'],
    'email': ['s.e.hristov99@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

We can think of these as rows and columns. They keys are the columns and the values are the rows. Usually, the definition for a dataframe object in pandas is `two-dimensional data structure`. If that sounds confusing, think of it as multiple rows and columns.

In [ ]:
# If we wanted to see the `email` column, we would access the `email` key in the `people` dictionary.
people['email']

In [ ]:
# Let's create a dataframe from the `people` dictionary!
# Note: The left-most column is called an idex. Think of it as the primary key for a database table. More on that later.
ppl_df = pd.DataFrame(people)
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Get all the values in a column.
ppl_df['email'] # Same as ppl_df.email

0    s.e.hristov99@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
# Note: The return type is actually a pandas.Series object. A Series is a list of data with more information and functionality. You can think of it as the values of a single column.
type(ppl_df['email'])

pandas.core.series.Series

> **Conclusion**: We can then say that a DataFrame is a container for Series objects.

In [ ]:
# Get the rows of multiple columns
ppl_df[['last', 'email']]

       last                    email
0  SimoLast  s.e.hristov99@gmail.com
1       Doe        JaneDoe@gmail.com
2       Doe        JohnDoe@gmail.com

In [ ]:
# Note: The return type is not a Series. It's a new DataFrame.
type(ppl_df[['last', 'email']])

pandas.core.frame.DataFrame

In [ ]:
# Get the names of all columns.
ppl_df.columns

Index(['first', 'last', 'email'], dtype='object')

In order to get specific rows, we use the:
- **iloc** method: access rows by integer location, i.e. like indexing an array in C++.
- **loc** method: access by the dataframe index index.

### iloc

In [ ]:
# It returns a Series with all the values for the 0th row.
ppl_df.iloc[0]

first                  SimoFirst
last                    SimoLast
email    s.e.hristov99@gmail.com
Name: 0, dtype: object

In [ ]:
# Get the values of n rows.
ppl_df.iloc[[0, -1]]

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# We can also get the values of a certain column.
ppl_df.iloc[[0, -1], -1]

0    s.e.hristov99@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

### loc

In [ ]:
# While the `iloc` method indexes the rows as intergers from 0 .. len - 1
# loc indexes the rows by the left-most column.
# Notice how there's no name above it.
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
ppl_df.loc[0]

In [ ]:
ppl_df.loc[[0, 2]]

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
ppl_df.loc[[0, 2], 'email']

0    s.e.hristov99@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
ppl_df.loc[[0, 2], ['email', 'first']]

                     email      first
0  s.e.hristov99@gmail.com  SimoFirst
2        JohnDoe@gmail.com       John

### **Question**: How many people are there in each employment type?

In [ ]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
df['Employment']

0        Independent contractor, freelancer, or self-em...
1                                       Student, full-time
2                                       Student, full-time
3                                       Employed full-time
4        Independent contractor, freelancer, or self-em...
                               ...
83434                                   Employed full-time
83435    Independent contractor, freelancer, or self-em...
83436                                   Employed full-time
83437                                   Employed full-time
83438                                   Employed full-time
Name: Employment, Length: 83439, dtype: object

In [ ]:
df['Employment'].value_counts()

Employed full-time                                      53584
Student, full-time                                      11781
Independent contractor, freelancer, or self-employed     8041
Not employed, but looking for work                       2961
Employed part-time                                       2461
Student, part-time                                       2051
Not employed, and not looking for work                   1228
I prefer not to say                                       890
Retired                                                   326
Name: Employment, dtype: int64

In [ ]:
# Get the responce of the first person for the `employment` question.
df.loc[0, 'Employment']

'Independent contractor, freelancer, or self-employed'

In [ ]:
# Get the responce of the first three people for the `employment` question.
# via a list
df.loc[[0, 1, 2], 'Employment']

0    Independent contractor, freelancer, or self-em...
1                                   Student, full-time
2                                   Student, full-time
Name: Employment, dtype: object

In [ ]:
# via slicing
# Note: The last element when using `loc` is inclusive.
df.loc[0:2, 'Employment']

0    Independent contractor, freelancer, or self-em...
1                                   Student, full-time
2                                   Student, full-time
Name: Employment, dtype: object

In [ ]:
# Get the values of the first three respondents for the columns from `employment` to `edlevel`
df.loc[0:2, 'Employment':'EdLevel']

,Employment,Country,US_State,UK_Country,EdLevel
0,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G..."
1,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
2,"Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"

## Indexes - Set, Reset, and Use

In [ ]:
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
ppl_df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
# Set the email addresses as an index.
ppl_df.set_index('email')

                             first      last
email
s.e.hristov99@gmail.com  SimoFirst  SimoLast
JaneDoe@gmail.com             Jane       Doe
JohnDoe@gmail.com             John       Doe

In [ ]:
# Note: Our dataframe didn't actually change because `set_index` returns a new dataframe.
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
ppl_df = ppl_df.set_index('email') # Same as ppl_df.set_index('email', inplace=True)
ppl_df

                             first      last
email
s.e.hristov99@gmail.com  SimoFirst  SimoLast
JaneDoe@gmail.com             Jane       Doe
JohnDoe@gmail.com             John       Doe

In [ ]:
ppl_df.index

Index(['s.e.hristov99@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [ ]:
# Get the last name of Jane using `loc`
ppl_df.loc['JaneDoe@gmail.com', 'last']

'Doe'

In [ ]:
# Get the last name of Jane using `iloc`
ppl_df.iloc[1, 1]
# or: ppl_df.iloc[1, -1]

'Doe'

In [ ]:
# ppl_df.loc[0] # This will no longer work, since the index is now a string.
ppl_df.iloc[0]

first    SimoFirst
last      SimoLast
Name: s.e.hristov99@gmail.com, dtype: object

In [ ]:
# Reset the idex.
ppl_df = ppl_df.reset_index()
ppl_df

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe

In [ ]:
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# Notice how the `ResponseId` column is a unique identifier.
# Set it as an index
df.set_index('ResponseId')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# Set it as an index while loading in the data!
df = pd.read_csv(DATA_PATH, index_col='ResponseId')
df

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# The first responded has an index of 1 now.
df.loc[1]

MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 1, dtype: object

### **Task**: Get the question a column refers to.

In [ ]:
# First, get the name of the column that will be used as an index.
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [ ]:
# In this case it's `qname`
schema_df = pd.read_csv(SCHEMA_PATH, index_col='qname')
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

In [ ]:
# Then, locate the row with index `Employment`
schema_df.loc['Employment']

qid                                                       QID24
question      Which of the following best describes your cur...
force_resp                                                False
type                                                         MC
selector                                                   MAVR
Name: Employment, dtype: object

In [ ]:
schema_df.loc['Employment', 'question']

'Which of the following best describes your current <b>employment status</b>?'

In [ ]:
# Now we can check any question
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
schema_df.loc['NEWOtherComms', 'question']

'Are you a member of any other online developer communities?'

In [ ]:
# Sort the indices lexicographically.
schema_df.sort_index()

,qid,question,force_resp,type,selector
qname,,,,,
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
Age,QID127,What is your age?,False,MC,MAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [ ]:
# Note that this does not change the dataframe.
schema_df.sort_index(ascending=False)

,qid,question,force_resp,type,selector
qname,,,,,
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
Age,QID127,What is your age?,False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR

## Filtering - Using Conditionals to Filter Rows and Columns

In [ ]:
ppl_df

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe

In [ ]:
# Get all people with last name `Doe`.
ppl_df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [ ]:
ppl_df[ppl_df['last'] == 'Doe']

               email first last
1  JaneDoe@gmail.com  Jane  Doe
2  JohnDoe@gmail.com  John  Doe

In [ ]:
ppl_df[ppl_df['last'] == 'Doe']['email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
ppl_df.loc[ppl_df['last'] == 'Doe']

               email first last
1  JaneDoe@gmail.com  Jane  Doe
2  JohnDoe@gmail.com  John  Doe

In [ ]:
ppl_df.loc[ppl_df['last'] == 'Doe', 'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

> **Note**: Chaining multiple conditions happens with **&**, **|**, **~**, not with the Python keywords `and`, `or`, `not`.

> **THE BRACKETS ARE IMPORTANT!**

In [ ]:
# Get the rows in which the last name is `Doe` and the first name is `John`.
ppl_df[(ppl_df['last'] == 'Doe') & (ppl_df['first'] == 'John')]

               email first last
2  JohnDoe@gmail.com  John  Doe

In [ ]:
ppl_df[(ppl_df['last'] == 'Doe') & (ppl_df['first'] == 'John')]['email']

2    JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
# Get the rows in which the last name is `SimoLast` or the first name is `John`.
ppl_df[(ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John')]

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
2        JohnDoe@gmail.com       John       Doe

In [ ]:
ppl_df[(ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John')]['email']

0    s.e.hristov99@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
# Get the opposite of the above condition.
ppl_df[~((ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John'))]['email']

1    JaneDoe@gmail.com
Name: email, dtype: object

In [ ]:
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

### **Task**: Get all responces from people that earn a salary > 70 000.

In [ ]:
# We'll use the last column `ConvertedCompYearly` to do that.
filt = (df['ConvertedCompYearly'] > 70000)
df[filt]

In [ ]:
df[filt][['Country', 'LanguageHaveWorkedWith', 'ConvertedCompYearly']]

In [ ]:
# Task: Get only responces from specific countries.
countries = ['United States', 'Germany', 'Bulgaria', 'United Kingdom', 'Canada', 'India']
filt = (df['Country'].isin(countries))

In [ ]:
df.loc[filt, 'Country']

ResponseId
9          India
13       Germany
18        Canada
21       Germany
23         India
          ...
83416    Germany
83418      India
83425    Germany
83433     Canada
83438     Canada
Name: Country, Length: 19550, dtype: object

In [ ]:
# Task: Get people who chose Python as the only programming language they know.
df['LanguageHaveWorkedWith']

ResponseId
1        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
2                                    JavaScript;Python
3                             Assembly;C;Python;R;Rust
4                                JavaScript;TypeScript
5                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83435                               Clojure;Kotlin;SQL
83436                                              NaN
83437                               Groovy;Java;Python
83438             Bash/Shell;JavaScript;Node.js;Python
83439           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [ ]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
df.loc[filt]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,"Developer, mobile;Developer, desktop or enterp...",2 to 9 employees,PKR\tPakistani rupee,150000.0,Monthly,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...,C#;Dart;HTML/CSS;JavaScript;Kotlin;Node.js;Pyt...,Firebase;MySQL;SQLite,DynamoDB;Firebase;MongoDB;MySQL;SQLite,Google Cloud Platform,AWS;Google Cloud Platform,Flask;jQuery,Angular;Django;Flask;jQuery;Laravel,Flutter,Flutter;Hadoop;NumPy;TensorFlow;Torch/PyTorch,Git,Docker;Git,Android Studio;IntelliJ;IPython/Jupyter;Notepa...,Android Studio;IntelliJ;IPython/Jupyter;PyChar...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0

## Updating Rows and Columns - Modifying Data Within DataFrames

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

**Column names**

In [ ]:
# Rename all columns
ppl_df.columns = ['first_name', 'last_name', 'email']
ppl_df

  first_name last_name                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Uppercase all of the column names
ppl_df.columns = ppl_df.columns.str.upper()
ppl_df

  FIRST_NAME LAST_NAME                    EMAIL
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Replace underlines with spaces
ppl_df.columns = ppl_df.columns.str.replace('_', ' ')
ppl_df

  FIRST NAME LAST NAME                    EMAIL
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Change only specific columns
ppl_df = ppl_df.rename(columns={
    'FIRST NAME': 'first',
    'LAST NAME': 'last',
})
ppl_df

       first      last                    EMAIL
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

**Row values**

In [ ]:
ppl_df.columns = ['first', 'last', 'email']
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Task: Change John's last name to Smith
ppl_df.loc[2]

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

In [ ]:
# solution 1: replace the whole sample
ppl_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John     Smith      JohnSmith@email.com

In [ ]:
# solution 2: Change only the values for specific columns
ppl_df.loc[2, 'last'] = 'Smith'
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John     Smith      JohnSmith@email.com

In [ ]:
# Change only the values for specific columns
ppl_df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@email.com

In [ ]:
# Common mistake: Changing a value through a filter
filt = (ppl_df['email'] == 'JohnDoe@email.com')
ppl_df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [ ]:
ppl_df[filt]['last'] = 'Smith'
ppl_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@email.com

In [ ]:
# Solution
ppl_df.loc[filt, 'last'] = 'Smith'
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John     Smith        JohnDoe@email.com

In [ ]:
# Change all emails to lowercase.

# First way: just assign the column to its lowercase version.
ppl_df['email'] = ppl_df['email'].str.lower()
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        janedoe@gmail.com
2       John     Smith        johndoe@email.com

However, we could also use one of the following functions:
- **map**: calling a function for every value in a series. *If the functions does not change a value, it replaces it with NaN*. ONLY WORKS ON SERIES
- **replace**: calling a function for every value in a series. *If the functions does not change a value, it leaves it as it was*. ONLY WORKS ON SERIES
- **apply**: calling a function for every value in a series or for every series in a dataframe.
- **applymap**: calling a function for every value in a dataframe. ONLY WORKS ON DATAFRAMES

In [ ]:
ppl_df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [ ]:
ppl_df['email'].apply(lambda email: email.upper())

0    S.E.HRISTOV99@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [ ]:
ppl_df['email'] = ppl_df['email'].apply(lambda email: email.upper())
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  S.E.HRISTOV99@GMAIL.COM
1       Jane       Doe        JANEDOE@GMAIL.COM
2       John     Smith        JOHNDOE@EMAIL.COM

In [ ]:
# The above examples, should not be that surprising, but see what it does when called for the dataframe
# It will apply the function to each of the row (series object).
ppl_df.apply(len) # Same as len(ppl_df['email'])

first    3
last     3
email    3
dtype: int64

In [ ]:
ppl_df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [ ]:
# Return the lexicographically smallest element for every row
ppl_df.apply(pd.Series.min)

first                 Jane
last                   Doe
email    JANEDOE@GMAIL.COM
dtype: object

In [ ]:
# Get the length of each string in the dataframe.
ppl_df.applymap(len)

   first  last  email
0      9     8     23
1      4     3     17
2      4     5     17

In [ ]:
# Lowercase every string in the dataframe.
ppl_df.applymap(str.lower)

       first      last                    email
0  simofirst  simolast  s.e.hristov99@gmail.com
1       jane       doe        janedoe@gmail.com
2       john     smith        johndoe@email.com

In [ ]:
# Get the length of every first name.
ppl_df['first'].map(len)

0    9
1    4
2    4
Name: first, dtype: int64

> **Note**: If you don't use the assignment operator (`=`), the dataframe stays unchanged.

In [ ]:
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  S.E.HRISTOV99@GMAIL.COM
1       Jane       Doe        JANEDOE@GMAIL.COM
2       John     Smith        JOHNDOE@EMAIL.COM

In [ ]:
# Substitute certain values.
ppl_df['first'] = ppl_df['first'].map({
    'SimoFirst': 'firstsimo',
    'Jane': 'Jessy',
})
ppl_df

       first      last                    email
0  firstsimo  SimoLast  S.E.HRISTOV99@GMAIL.COM
1      Jessy       Doe        JANEDOE@GMAIL.COM
2        NaN     Smith        JOHNDOE@EMAIL.COM

In [ ]:
ppl_df['last'] = ppl_df['last'].replace({
    'SimoLast': 'LastSimo',
    'Smith': 'Bobson',
})
ppl_df

       first      last                    email
0  firstsimo  LastSimo  S.E.HRISTOV99@GMAIL.COM
1      Jessy       Doe        JANEDOE@GMAIL.COM
2        NaN    Bobson        JOHNDOE@EMAIL.COM

In [ ]:
# Rename the column that holds the yearly converted salary to `SalaryUSD`.
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
df = df.rename(columns={
    'ConvertedCompYearly': 'SalaryUSD'
})
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [ ]:
df['SalaryUSD']

ResponseId
1         62268.0
2             NaN
3             NaN
4             NaN
5             NaN
           ...
83435    160500.0
83436      3960.0
83437     90000.0
83438    816816.0
83439     21168.0
Name: SalaryUSD, Length: 83439, dtype: float64

In [ ]:
# Convert every 'Yes' to True and every 'No' value to False.
df['SOAccount'] = df['SOAccount'].map({'Yes': True, 'No': False})

In [ ]:
df

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,True,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,True,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,True,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,True,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,True,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,False,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,True,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,True,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,True,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,True,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

## Add/Remove Rows and Columns From DataFrames

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

       first      last                    email
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [ ]:
# Add a new column called `name` which is the concatenation of the `first` and `last` columns.
ppl_df['name'] = ppl_df['first'] + ' ' + ppl_df['last']  # ppl_df.name will not work, because Python will think that it already exists
ppl_df

       first      last                    email                name
0  SimoFirst  SimoLast  s.e.hristov99@gmail.com  SimoFirst SimoLast
1       Jane       Doe        JaneDoe@gmail.com            Jane Doe
2       John       Doe        JohnDoe@gmail.com            John Doe

In [ ]:
# Remove the `first` and `last` columns.
ppl_df = ppl_df.drop(['first', 'last'], axis=1)
ppl_df

                     email                name
0  s.e.hristov99@gmail.com  SimoFirst SimoLast
1        JaneDoe@gmail.com            Jane Doe
2        JohnDoe@gmail.com            John Doe

In [ ]:
# Split the `name` column into two new columns.
ppl_df['name'].str.split()

0    [SimoFirst, SimoLast]
1              [Jane, Doe]
2              [John, Doe]
Name: name, dtype: object

In [ ]:
ppl_df['name'].str.split(expand=True)

           0         1
0  SimoFirst  SimoLast
1       Jane       Doe
2       John       Doe

In [ ]:
ppl_df[['first', 'last']] = ppl_df['name'].str.split(expand=True)
ppl_df

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe

In [ ]:
# Add a row of data.
ppl_df.append({'first': 'Elon'}, ignore_index=True)

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe
3                      NaN                 NaN       Elon       NaN

In [ ]:
# Note again that this actually returns a new dataframe and doesn't change the current one.
ppl_df

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe

In [ ]:
# Concatenate dataframes.
people = {
  'first': ['Bob', 'John'],
  'last': ['Bobson', 'Johnson'],
  'email': ['bob@email.com', 'john@email.com']
}
ppl_df2 = pd.DataFrame(people)
# Note that the columns don't match in order and in number. Also, there are conflicting indices.
ppl_df2

  first     last           email
0   Bob   Bobson   bob@email.com
1  John  Johnson  john@email.com

In [ ]:
ppl_df = ppl_df.append(ppl_df2, ignore_index=True)
ppl_df

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe
3            bob@email.com                 NaN        Bob    Bobson
4           john@email.com                 NaN       John   Johnson

In [ ]:
# Remove rows by index.
ppl_df.drop(index=3)

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe
4           john@email.com                 NaN       John   Johnson

In [ ]:
# Remove columns by a predicate

# Remove all rows that have last name `Doe`.
pred = (ppl_df['last'] == 'Doe')
ppl_df.drop(index=ppl_df[pred].index)

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
3            bob@email.com                 NaN        Bob    Bobson
4           john@email.com                 NaN       John   Johnson

## Sorting Data

In [ ]:
# Add a new entry `Adam`.
ppl_df = ppl_df.append({
    'first': 'Adam',
    'last': 'Doe',
    'email': 'a@email.com',
}, ignore_index=True)
ppl_df

                     email                name      first      last
0  s.e.hristov99@gmail.com  SimoFirst SimoLast  SimoFirst  SimoLast
1        JaneDoe@gmail.com            Jane Doe       Jane       Doe
2        JohnDoe@gmail.com            John Doe       John       Doe
3            bob@email.com                 NaN        Bob    Bobson
4           john@email.com                 NaN       John   Johnson
5              a@email.com                 NaN       Adam       Doe

In [ ]:
# Drop the name column.
ppl_df = ppl_df.drop(['name'], axis=1)
ppl_df

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe
3            bob@email.com        Bob    Bobson
4           john@email.com       John   Johnson
5              a@email.com       Adam       Doe

In [ ]:
# Sort values by last name in ascending order.
ppl_df.sort_values(by='last')

                     email      first      last
3            bob@email.com        Bob    Bobson
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe
5              a@email.com       Adam       Doe
4           john@email.com       John   Johnson
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast

In [ ]:
# Sort values by last name in descending order.
ppl_df.sort_values(by='last', ascending=False)

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
4           john@email.com       John   Johnson
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe
5              a@email.com       Adam       Doe
3            bob@email.com        Bob    Bobson

In [ ]:
# Sort by multiple columns.
ppl_df.sort_values(by=['last', 'first'], ascending=False)

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
4           john@email.com       John   Johnson
2        JohnDoe@gmail.com       John       Doe
1        JaneDoe@gmail.com       Jane       Doe
5              a@email.com       Adam       Doe
3            bob@email.com        Bob    Bobson

In [ ]:
# Sort the last name in descending order but sort the first name in ascending order.
ppl_df.sort_values(by=['last', 'first'], ascending=[False, True])

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
4           john@email.com       John   Johnson
5              a@email.com       Adam       Doe
1        JaneDoe@gmail.com       Jane       Doe
2        JohnDoe@gmail.com       John       Doe
3            bob@email.com        Bob    Bobson

In [ ]:
# Notice how the indices are not sorted. Let's ignore them when sorting the values.
ppl_df = ppl_df.sort_values(by=['last', 'first'], ascending=[False, True], ignore_index=True)
ppl_df

                     email      first      last
0  s.e.hristov99@gmail.com  SimoFirst  SimoLast
1           john@email.com       John   Johnson
2              a@email.com       Adam       Doe
3        JaneDoe@gmail.com       Jane       Doe
4        JohnDoe@gmail.com       John       Doe
5            bob@email.com        Bob    Bobson

In [ ]:
# We can also sort series objects.
ppl_df['last'].sort_values()

5      Bobson
2         Doe
3         Doe
4         Doe
1     Johnson
0    SimoLast
Name: last, dtype: object

In [ ]:
# Sort result by country name.
df = df.sort_values(by='Country')
df

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
37432,I am a student who is learning to code,"Student, part-time",Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Younger than 5 years,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;Python,NaN,Oracle,NaN,Microsoft Azure,NaN,Django,NaN,Qt;TensorFlow,NaN,Unity 3D,NaN,Notepad++;PyCharm;Visual Studio Code,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,True,A few times per month or weekly,"No, not at all",No,Under 18 years old,"Or, in your own words:","Or, in your own words:",Straight / Heterosexual;Bisexual;Prefer to sel...,White or of European descent;I don't know;Mult...,"Or, in your own words:","Or, in your own words:",Too long,Difficult,NaN
11462,I am a developer by profession,"Not employed, but looking for work",Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,"Developer, mobile;Developer, front-end;Develop...",NaN,NaN,NaN,NaN,C#;HTML/CSS;SQL;TypeScript,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript,Firebase;Microsoft SQL Server;MongoDB;MySQL;SQ...,Firebase;Microsoft SQL Server;MySQL,Microsoft Azure,Microsoft Azure,Angular;ASP.NET Core,Angular;ASP.NET Core ;Spring,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,Git,Git,Eclipse;IntelliJ;Notepad++;Visual Studio;Visua...,Eclipse;IntelliJ;Notepad++;Visual Studio;Visua...,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,True,A few times per month or weekly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN
67131,I am a developer by profession,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFN\tAfghan afghani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62971,"I am not primarily a developer, but I write co...","Not employed, but looking for work",Afghanistan,NaN,NaN,Some college/university study without earning ...,18 - 24 years,Books / Physical media,6,NaN,"Developer, desktop or enterprise applications",NaN,NaN,NaN,NaN,C;C#;C++;Delphi;SQL,NaN,Cassandra;Elasticsearch;SQLite,NaN,AWS,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;Djang...,NaN,.NET Framework;.NET Core / .NET 5;Apache Spark...,NaN,Ansible;Chef;Deno;Docker,NaN,Android Studio;Atom;Eclipse;IntelliJ;NetBeans,NaN,Windows,Visit Stack Overflow,Stack Overflow,A few times per month or weekly,NaN,NaN,Not sure,No,25-34 years old,Man,No,Straight / Heterosexual,Multiracial;Indigenous (such as Native America...,None of the above,None of the above,Too long,Difficult,NaN
14883,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,8,4,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,AFN\tAfghan afghani,6500.0,Weekly,HTML/CSS;JavaScript;PHP;SQL,HTML/CSS;JavaScript;Node.js;PHP;SQL,Elasticsearch;Firebase;MongoDB;MySQL;Redis;SQLite,Elasticsearch;Firebase;MariaDB;MySQL,AWS;DigitalOcean;Heroku;IBM Cloud or Watson,AWS;DigitalOcean;Heroku,Angular;Angular.js;Drupal;jQuery;Laravel;React.js,Angular;Angular.js;Drupal;jQuery;Laravel;React.js,.NET Framework,NaN,Docker;Git,Docker;Git,Atom;Eclipse;NetBeans;Notepad++;PHPStorm;Subli...,Notepad++;Sublime Text;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,True,A few times per month or weekly,"Yes, somewhat",Yes,25-34 years old,Man,No,NaN,South Asian,None of the above,None of the above,Appropriate in length,Easy,4200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,I am a developer by profession,Employed full-time,Zimbabwe,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",18,14,"Developer, back-end;Database administrator;Sys...",2 to 9 employees,USD\tUnited States dollar,NaN,NaN,Rust,Rust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Vim,Vim,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,True,I have never participated in Q&A on Stack Over...,"Yes, somewhat",Yes,35-44 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Too long,Easy,NaN
80997,I code primarily as a hobby,"Not employed, and not looking for work",Zimbabwe,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",Less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python,Assembly;C#;C++;Go;Java;Kotlin;Node.js;Python,NaN,NaN,NaN,NaN,React.js,Angular.js;Django;Express;jQuery,NaN,NaN,NaN,NaN,Notepad++;PyCharm;Visual Studio Code,Android Studio;PyCharm;Visual Studio Code,Windows,Watch help / tutorial videos;Do other work and...,Stack Overflow,A few times per month or weekly,True,I have never participated in Q&A on Stack Over...,"No, not really",No,Under 18 years old,Man,No,Straight / Heterosexual,Black or of African descent,I am blind / have difficulty seeing,None of the above,Appropriate in length,Easy,NaN
73742,I am a developer by profession,"Student, part-time",Zimbabwe,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C#;Go;HTML/CSS;JavaScript;PowerShel...,NaN,PostgreSQL;SQLite,NaN,NaN,NaN,Angular;Django;jQuery;React.js,NaN,NumPy;Pandas,NaN,Git,NaN,Android Studio;IPython/Jupyter;Sublime Text;Vi...,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per week,True,I have never participated in Q&A on Stack Over...,"Yes, definitely",Yes,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
73193,I am a developer by profession,Employed full-time,Zimbabwe,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",5,1,"Developer, full-stack",10 to 19 employees,USD\tUnited States dollar,200.0,Monthly,C#,C#,NaN,NaN,NaN,NaN,ASP.NET;jQuery,ASP.NET;jQuery,.NET Framework,.NET Framework,Git,Git,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow,A few times per month or weekly,True,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,2400.0
38429,I am a developer by profession,Employed full-time,Zimbabwe,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Coding Bootcamp;Other online resources (ex: vi...,10,6,"Developer, mobile;Developer, front-end;Develop...","10,000 or more employees",USD\tUnited States dollar,NaN,NaN,Dart;Java,Dart;Java,Microsoft SQL Server;PostgreSQL,Microsoft SQL Server;PostgreSQL,NaN,NaN,Angular;Spring,Angular;Spring,Flutter,Flutter,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Android Studio;Eclipse;IntelliJ;NetBeans;Notep...,Android Studio;Eclipse;IntelliJ;NetBeans;Notep...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,A few times per week,False,NaN,Neutral,No,25-34 years old,Woman,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN

In [ ]:
# Sort the countries in asceding order and the salaries in descending order.
df[['Country', 'SalaryUSD']]

                Country  SalaryUSD
ResponseId
37432       Afghanistan        NaN
11462       Afghanistan        NaN
67131       Afghanistan        NaN
62971       Afghanistan        NaN
14883       Afghanistan     4200.0
...                 ...        ...
13195          Zimbabwe        NaN
80997          Zimbabwe        NaN
73742          Zimbabwe        NaN
73193          Zimbabwe     2400.0
38429          Zimbabwe        NaN

[83439 rows x 2 columns]

In [ ]:
df = df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False])
df[['Country', 'SalaryUSD']]

                Country   SalaryUSD
ResponseId
65400       Afghanistan  30468516.0
22667       Afghanistan    155496.0
27199       Afghanistan     51804.0
31087       Afghanistan     23964.0
44641       Afghanistan     15132.0
...                 ...         ...
56303          Zimbabwe         NaN
13195          Zimbabwe         NaN
80997          Zimbabwe         NaN
73742          Zimbabwe         NaN
38429          Zimbabwe         NaN

[83439 rows x 2 columns]

In [ ]:
# Get the 10 highest salaries from the survey.
df['SalaryUSD'].nlargest(10)

ResponseId
66911    45241312.0
65400    30468516.0
40587    21822250.0
28792    20000000.0
12701    19200000.0
9609     17500000.0
5306     15000000.0
12904    14411628.0
66489    12750000.0
47564    12500000.0
Name: SalaryUSD, dtype: float64

In [ ]:
# Get the entries with the 10 highest salaries.
df.nlargest(10, 'SalaryUSD')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
66911,I am a developer by profession,I prefer not to say,Belgium,NaN,NaN,Primary/elementary school,55 - 64 years,Books / Physical media,1,21,NaN,"Just me - I am a freelancer, sole proprietor, ...",ALL\tAlbanian lek,5.123468e+09,Yearly,APL,NaN,Couchbase,NaN,AWS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IntelliJ;PyCharm,NaN,Other (please specify):,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow for Teams (private knowledge sh...,Less than once per month or monthly,True,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,55-64 years old,NaN,Yes,NaN,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,NaN,45241312.0
65400,I am a developer by profession,Employed full-time,Afghanistan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Courses or Certification,7,3,"Developer, desktop or enterprise applications;...",500 to 999 employees,ANG Netherlands Antillean guilder,4.544242e+06,Monthly,Bash/Shell;C++;Elixir;LISP;Node.js;Ruby;Rust;S...,Clojure;Crystal;Dart;Matlab;Node.js;Python;R,Couchbase;Elasticsearch;MariaDB,MySQL;Oracle,AWS;IBM Cloud or Watson,Oracle Cloud Infrastructure,ASP.NET;Drupal;Laravel;Svelte,Angular;ASP.NET;Django;Express;Flask;jQuery;Ru...,.NET Framework;Apache Spark;Hadoop;Pandas,Flutter;Pandas;Qt,Docker;Flow;Terraform,Chef;Docker;Git,NetBeans;PHPStorm;RubyMine,Eclipse;NetBeans,Linux-based,Watch help / tutorial videos;Play games,Stack Overflow;Stack Overflow for Teams (priva...,A few times per month or weekly,NaN,NaN,"No, not at all",Yes,35-44 years old,"Man;Non-binary, genderqueer, or gender non-con...",Yes,Bisexual;Prefer to self-describe:;Gay or Lesbi...,South Asian;Hispanic or Latino/a/x;Black or of...,I am unable to / find it difficult to walk or ...,I have a mood or emotional disorder (e.g. depr...,Too short,Difficult,30468516.0
40587,I am a developer by profession,Employed full-time,United States of America,California,NaN,Some college/university study without earning ...,Younger than 5 years,"Other online resources (ex: videos, blogs, etc...",37,13,Other (please specify):,"10,000 or more employees",USD\tUnited States dollar,4.364450e+05,Weekly,Bash/Shell;HTML/CSS;Java;JavaScript;Node.js;Py...,Bash/Shell;Haskell;HTML/CSS;Java;JavaScript;No...,MariaDB;MySQL;SQLite,MariaDB;MySQL;SQLite,Microsoft Azure,Microsoft Azure,Flask,Express;Flask;React.js;Svelte,NaN,NaN,Git,Docker;Git,IntelliJ;Visual Studio Code,IntelliJ;Visual Studio;Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,True,Daily or almost daily,"Yes, somewhat",Yes,35-44 years old,Man,No,Bisexual,White or of European descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,21822250.0
28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,9,"Developer, desktop or enterprise applications;...",100 to 499 employees,USD\tUnited States dollar,2.000000e+07,Yearly,C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...,Ruby;Swift,Microsoft SQL Server;MySQL;Oracle;PostgreSQL;S...,MongoDB,AWS;DigitalOcean;Heroku,IBM Cloud or Watson;Microsoft Azure,Angular.js;Drupal;Laravel;Ruby on Rails;Symfony,Angular;ASP.NET,Apache Spark;Cordova;Hadoop,.NET Framework,Git,Chef;Docker;Kubernetes;Puppet,Android Studio;Atom;Eclipse;IPython/Jupyter;Ne...,Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Visit another d...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,True,A few times per month or weekly,Neutral,Yes,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
12701,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,Online Forum,5,5,"Developer, full-stack",100 to 499 employees,USD\tUnited States dollar,1.600000e+06,Monthly,JavaScript,JavaScript,MongoDB;MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,AWS;Heroku,AWS;Heroku,React.js,React.js,NaN,NaN,Git,Git,Eclipse;Visual Studio Code,Eclipse;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Visit another d...,Stack Exchange,A few times per week,True,A few times per week,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,19200000.0
9609,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,New York,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,25,21,"Senior Executive (C-Suite, VP, etc.)",20 to 99 employees,USD\tUnited States dollar,3.500000e+05,Weekly,Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...,NaN,Elasticsearch;IBM DB2;MariaDB;MongoDB;MySQL;Or...,NaN,AWS;DigitalOcean,NaN,Angular;jQuery;Spring,NaN,NaN,NaN,Git;Kubernetes,NaN,Android Studio;IntelliJ;Notepad++;PHPStorm;Vim...,NaN,Windows,Call a coworker or friend;Google it,Stack Overflow,Less than once per month or monthly,False,NaN,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,17500000.0
5306,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,New Jersey,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,Friend or family member;Books / Physical media,25,5,"Developer, full-stack;DevOps specialist","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,3.000000e+05,Weekly,Python,Python;Rust;SQL,NaN,NaN,AWS;Google Cloud Platform,NaN,Flask,Django,NaN,NaN,Ansible;Docker;Git;Terraform,Docker;Git,Vim,Vim,Linux-based,Other (please specify):,Stack Overflow;Stack Exchange,A few times per week,True,Less than once per month or monthly,"Yes, somewhat",Yes,35-44 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Easy,15000000.0
12904,I am a developer by profession,Employed full-time,Serbia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,1,"Developer, front-end;Developer, full-stack;Dev...",100 to 499 employees,EUR European Euro,1.111000e+06,Monthly,C#;JavaScript;Node.js;Python,C#;Python,MySQL;PostgreSQL,MySQL;PostgreSQL,NaN,NaN,Angular;ASP.NET;ASP.NET Core ;Django;jQuery;Re...,Angular;ASP.NET Core ;Django;React.js,.NET Framework;.NET Core / .NET 5,.NET Core / .NET 5,Docker;Git,Docker;Git,PyCharm;Visual Studio;Visual Studio Code,PyCharm;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,False,NaN,Neutral,No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,14411628.0
66489,I am a developer by profession,Employed full-time,United States of America,Washington,NaN,Some college/university study without earning ...,18 - 24 years,School;Online Courses or Certification;Books /...,5,3,"Developer, desktop or enterprise applications;...",20 to 99 employees,USD\tUnited States dollar,2.550000e+05,Weekly,Bash/Shell;Go;HTML/CSS;Java;JavaScript;Kotlin;...,Node.js;SQL;TypeScript,DynamoDB;Elasticsearch;Firebase;MySQL;PostgreS...,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,Express;React.js;Spring,Express;React.js,NumPy;Pandas,NumPy;Pandas,Docker;Git;Yarn,Git,Atom;IntelliJ;PyCharm;Sublime Text;Visual Stud...,Visual Studio Code,MacOS,Call a coworker or friend;Google it;Meditate,Stack Overflow;Stack Exchange,Daily or almost daily,True,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Appropriate in length,Easy,12750000.0
47564,I am a developer by profession,Employed full-time,United States of America,Colorado,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,24,13,"Developer, front-end","10,000 or more employees",USD\tUnited States dollar,2.500000e+05,Weekly,Go;HTML/CSS;JavaScript;Python;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,PostgreSQL,PostgreSQL,AWS,NaN,React.js;Vue.js,React.js;Vue.js,NaN,NaN,Docker;Git;Kubernetes;Yarn,Git;Yarn,Visual Studio Code,Visual Studio Code,MacOS,Go for a walk or other physical activity;Googl...,Stack Overflow,A few times per month or weekly,True,I have never participated in Q&A on Stack Over...,Neutral,No,35-44 years old,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,12500000.0

In [ ]:
# Get the entries with the 10 lowest salaries.
df.nsmallest(10, 'SalaryUSD')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1925,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Other (please specify):,30,25,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",USD\tUnited States dollar,1.0,Yearly,C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;HTML/CSS;JavaScript;PowerShell;SQL,Microsoft SQL Server,Microsoft SQL Server,AWS;Microsoft Azure,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core ;jQuery,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,True,A few times per week,"Yes, definitely",No,45-54 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,1.0
46465,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,27,12,"Engineer, data;Data scientist or machine learn...",10 to 19 employees,USD\tUnited States dollar,1.0,Yearly,Perl;Python,JavaScript;Node.js;Python,SQLite,NaN,Google Cloud Platform,NaN,Flask,Flask,Flutter,NaN,Git,Git,Android Studio;IntelliJ;PyCharm;Sublime Text,PyCharm;Sublime Text,MacOS,Go for a walk or other physical activity;Do ot...,Stack Overflow,Less than once per month or monthly,False,NaN,"No, not at all",No,35-44 years old,Man,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Easy,1.0
24286,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,16,9,Other (please specify):;Data scientist or mach...,2 to 9 employees,USD\tUnited States dollar,1.0,Yearly,Python;SQL,Python,PostgreSQL;Redis,PostgreSQL;Redis,AWS,AWS,Django;Flask,Django;Flask,NumPy;Pandas;TensorFlow,NumPy;Pandas;TensorFlow,Docker;Git;Terraform,Docker;Git;Terraform,IPython/Jupyter;PyCharm,IPython/Jupyter;PyCharm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,A few times per week,True,A few times per week,"Yes, somewhat",Yes,35-44 years old,Man,No,Prefer to self-describe:,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,1.0
15164,I am a developer by profession,Employed full-time,China,NaN,NaN,Primary/elementary school,Younger than 5 years,Books / Physical media,5,1,Academic researcher,2 to 9 employees,CNY\tChinese Yuan Renminbi,11.0,Yearly,Objective-C,NaN,MySQL,NaN,Microsoft Azure,NaN,Vue.js,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MacOS,Google it,Stack Overflow for Teams (private knowledge sh...,Less than once per month or monthly,True,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,35-44 years old,Woman,Yes,Bisexual,Black or of African descent,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Too short,Easy,2.0
56791,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,12,2,"Developer, full-stack;Database administrator;S...",100 to 499 employees,TWD\tNew Taiwan dollar,50.0,Yearly,HTML/CSS;JavaScript;Node.js;Python;SQL,NaN,MySQL;PostgreSQL;SQLite,NaN,NaN,NaN,Django;jQuery,NaN,NaN,NaN,Docker;Git,NaN,PyCharm,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,True,Less than once per month or monthly,"No, not really",No,25-34 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,2.0
22033,I am a developer by profession,Employed full-time,Republic of Korea,NaN,NaN,"Associate degree (A.A., A.S., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,5,Less than 1 year,"Developer, front-end",20 to 99 employees,KRW\tSouth Korean won,3800.0,Yearly,JavaScript;TypeScript,JavaScript;TypeScript,MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;Google Cloud Platform,AWS;Google Cloud Platform,React.js,React.js;Svelte;Vue.js,Hadoop;React Native,Flutter;Hadoop;React Native,Docker;Git;Kubernetes;Yarn,Deno;Docker;Git;Kubernetes;Yarn,Visual Studio Code;Webstorm,Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,True,Less than once per month or monthly,"Yes, somewhat",No,25-34 years old,Man,No,NaN,East Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,3.0
59044,I am a developer by profession,Employed full-time,Taiwan,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",20,NaN,"Developer, front-end",100 to 499 employees,TWD\tNew Taiwan dollar,90.0,Yearly,HTML/CSS;JavaScript;Node.js;PowerShell;TypeScript,HTML/CSS;JavaScript;Node.js;TypeScript,Elasticsearch;Firebase;MongoDB;MySQL;Redis,Firebase,DigitalOcean;Microsoft Azure,NaN,Angular;Express,Angular,NaN,NaN,Ansible;Docker;Git,Docker;Git,IntelliJ;Notepad++;Vim;Visual Studio Code;Webs...,IntelliJ;Notepad++;Vim;Visual Studio Code;Webs...,MacOS,Go for a walk or other physical activity;Googl...,Stack Overflow,Multiple times per day,True,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,25-34 years old,Man,No,Prefer not to say,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,3.0
22454,I am a developer by profession,Employed full-time,Japan,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,6,"Developer, full-stack",20 to 99 employees,JPY\tJapanese yen,450.0,Yearly,C#;HTML/CSS;SQL;TypeScript,C#;HTML/CSS;SQL;TypeScript,Oracle,Oracle,AWS;Microsoft Azure,AWS;Microsoft Azure,Angular;ASP.NET Core,Angular;ASP.NET Core,.NET Core / .NET 5,.NET Core / .NET 5,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Call a coworker or friend;Meditate,Stack Overflow,A few times per month or weekly,NaN,NaN,"No, not at all",No,35-44 years old,Man,No,NaN,East Asian,None of the above,NaN,Appropriate in length,Easy,4.0
45142,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,1,Scientist,"1,000 to 4,999 employees",CNY\tChinese Yuan Renminbi,35.0,Yearly,C++;Java;Python;R;Scala;SQL,C++;Python,NaN,NaN,NaN,NaN,NaN,NaN,Hadoop;NumPy;Pandas;Torch/PyTorch,NumPy;Pandas;Torch/PyTorch,Git,Git,IntelliJ;PyCharm;RStudio;Visual Studio;Visual ...,Visual Studio Code,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,True,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,I have a mood or emotional disorder (e.g. depr...,Too long,Easy,5.0
53307,I am a developer by profession,Employed full-time,Japan,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",25,17,"Developer, mobile;Data scientist or machine le...","10,000 or more employees",JPY\tJapanese yen,600.0,Yearly,Bash/Shell;HTML/CSS;Java;JavaScript;Kotlin;Nod...,Bash/Shell;C#;HTML/CSS;Java;Kotlin;Python;SQL;...,Firebase;MySQL;PostgreSQL;SQLite,MariaDB;PostgreSQL;SQLite,AWS,AWS,Angular;Express;Flask;Laravel;Spring;Vue.js,Angular;ASP.NET Core ;FastAPI;Laravel,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,.NET Core / .NET 5;NumPy;Pandas;Torch/PyTorch,Docker;Git,Git;Unity 3D;Unreal Engine,Android Studio;IntelliJ;IPython/Jupyter;PHPSto...,Android Studio;IntelliJ;PHPStorm;PyCharm;Vim;V...,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,False,NaN,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,5.0

## Grouping and Aggregating - Analyzing and Exploring Your Data

In [ ]:
df = pd.read_csv(DATA_PATH)
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
df = df.rename(columns={
    'ConvertedCompYearly': 'SalaryUSD'
})

> **Mean**: the average of a data set;

> **Mode**: the most common number in a data set;

> **Median**: the middle of the set of numbers.

> **Aggregation**: taking multiple values and returning a single result;

In [ ]:
# What is the most common salary?
df['SalaryUSD'].mode()

0    150000.0
dtype: float64

In [ ]:
df.median(numeric_only=True)

ResponseId    41720.0
CompTotal     67000.0
SalaryUSD     56211.0
dtype: float64

In [ ]:
df.describe()

         ResponseId     CompTotal     SalaryUSD
count  83439.000000  4.718300e+04  4.684400e+04
mean   41720.000000  2.119407e+69  1.184262e+05
std    24086.908893  4.603702e+71  5.272944e+05
min        1.000000  0.000000e+00  1.000000e+00
25%    20860.500000  1.600000e+04  2.702500e+04
50%    41720.000000  6.700000e+04  5.621100e+04
75%    62579.500000  1.400000e+05  1.000000e+05
max    83439.000000  1.000000e+74  4.524131e+07

In [ ]:
# How many people gave information about their salary?
df['SalaryUSD'].count()

46844

In [ ]:
df['SalaryUSD'].count() / df.shape[0]

0.5614161243543188

In [ ]:
# What percentage of the respondents have a StackOverflow account?
df['SOAccount'].value_counts(normalize=True) # Preferred over: df['SOAccount'].value_counts() / df.shape[0]

Yes                        0.821727
No                         0.127355
Not sure/can't remember    0.050918
Name: SOAccount, dtype: float64

In [ ]:
# What is the most popular OS for work?
schema_df.loc['OpSys', 'question']

'What is the primary operating system in which you work? *'

In [ ]:
df['OpSys'].value_counts()

Windows                              37758
Linux-based                          21088
MacOS                                20984
Windows Subsystem for Linux (WSL)     2743
Other (please specify):                575
BSD                                    146
Name: OpSys, dtype: int64

In [ ]:
# What do people do when they get stuck on a problem?
schema_df.loc['NEWStuck', 'question']

'What do you do when you get stuck on a problem? Select all that apply.'

In [ ]:
df['NEWStuck'].value_counts().head(15)

Visit Stack Overflow;Google it                                                                                                                                      5094
Visit Stack Overflow;Google it;Watch help / tutorial videos                                                                                                         4483
Google it                                                                                                                                                           3404
Call a coworker or friend;Visit Stack Overflow;Google it                                                                                                            2905
Visit Stack Overflow;Google it;Do other work and come back later                                                                                                    2703
Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos                                                                               2589
Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later                                                                       2378
Call a coworker or friend;Visit Stack Overflow;Google it;Do other work and come back later                                                                          2148
Visit Stack Overflow;Go for a walk or other physical activity;Google it;Do other work and come back later                                                           2012
Call a coworker or friend;Visit Stack Overflow;Google it;Watch help / tutorial videos;Do other work and come back later                                             1896
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos;Do other work and come back later    1806
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it;Do other work and come back later                                 1748
Visit Stack Overflow;Go for a walk or other physical activity;Google it                                                                                             1669
Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos;Do other work and come back later                              1602
Visit Stack Overflow;Go for a walk or other physical activity;Google it;Watch help / tutorial videos                                                                1336
Name: NEWStuck, dtype: int64

### **Grouping**: splitting into groups, applying a function, combining results.

In [ ]:
# Let's get a breakdown for the most popular OS by country.

# Get the countries of the majority of respondents.
df['Country'].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [ ]:
country_group = df.groupby(['Country'])
country_group # Splitting into groups.

In [ ]:
country_group.get_group('United States of America')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
15,16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Emacs;Neovim;Vim,Neovim;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
36,37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,Less than 1 year,"Developer, embedded applications or devices",20 to 99 employees,USD\tUnited States dollar,103000.0,Yearly,Assembly;C;Java;Kotlin;Rust,Assembly;Kotlin;Rust;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Git,Git,IntelliJ;PyCharm;Webstorm,Android Studio;IntelliJ;PyCharm;Sublime Text;W...,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
37,38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,15,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,300000.0,Yearly,Go,Go;Rust,NaN,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,NaN,NaN,Docker;Git;Terraform,Git;Terraform,Vim;Visual Studio Code,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Me...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83427,83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,2,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",USD\tUnited States dollar,86000.0,Weekly,Java;Python,C#;Java;Python,NaN,NaN,NaN,NaN,Angular;Flask,Angular,NaN,NaN,Ansible;Git;Terraform;Unity 3D,Ansible;Git;Terraform;Unity 3D,Eclipse;IntelliJ;NetBeans;Sublime Text;Visual ...,IntelliJ;Sublime Text;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

In [ ]:
# We can simulate groupby. However, the difference is that groupby does this
# for every country.
cond = (df['Country'] == 'United States of America')
df[cond]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,SalaryUSD
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
15,16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Emacs;Neovim;Vim,Neovim;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
36,37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,Less than 1 year,"Developer, embedded applications or devices",20 to 99 employees,USD\tUnited States dollar,103000.0,Yearly,Assembly;C;Java;Kotlin;Rust,Assembly;Kotlin;Rust;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Git,Git,IntelliJ;PyCharm;Webstorm,Android Studio;IntelliJ;PyCharm;Sublime Text;W...,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
37,38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,15,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,300000.0,Yearly,Go,Go;Rust,NaN,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,NaN,NaN,Docker;Git;Terraform,Git;Terraform,Vim;Visual Studio Code,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Me...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83427,83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,2,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",USD\tUnited States dollar,86000.0,Weekly,Java;Python,C#;Java;Python,NaN,NaN,NaN,NaN,Angular;Flask,Angular,NaN,NaN,Ansible;Git;Terraform;Unity 3D,Ansible;Git;Terraform;Unity 3D,Eclipse;IntelliJ;NetBeans;Sublime Text;Visual ...,IntelliJ;Sublime Text;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

In [ ]:
df[cond]['OpSys'].value_counts(normalize=True)

Windows                              0.382403
MacOS                                0.356525
Linux-based                          0.221764
Windows Subsystem for Linux (WSL)    0.027712
Other (please specify):              0.009762
BSD                                  0.001834
Name: OpSys, dtype: float64

In [ ]:
country_group['OpSys'].value_counts(normalize=True).head(50) # Appyling a function.

Country      OpSys
Afghanistan  Windows                              0.459016
             Linux-based                          0.295082
             MacOS                                0.098361
             Other (please specify):              0.098361
             BSD                                  0.032787
             Windows Subsystem for Linux (WSL)    0.016393
Albania      Windows                              0.614286
             Linux-based                          0.228571
             MacOS                                0.100000
             Windows Subsystem for Linux (WSL)    0.028571
             BSD                                  0.014286
             Other (please specify):              0.014286
Algeria      Windows                              0.565217
             Linux-based                          0.282609
             MacOS                                0.086957
             BSD                                  0.021739
             Other (please specify):              0.021739
             Windows Subsystem for Linux (WSL)    0.021739
Andorra      Linux-based                          0.500000
             Windows                              0.166667
             Windows Subsystem for Linux (WSL)    0.166667
             MacOS                                0.083333
             Other (please specify):              0.083333
Angola       Windows                              0.518519
             Linux-based                          0.222222
             MacOS                                0.148148
             Windows Subsystem for Linux (WSL)    0.111111
Argentina    Windows                              0.378194
             Linux-based                          0.352641
             MacOS                                0.238501
             Windows Subsystem for Linux (WSL)    0.023850
             Other (please specify):              0.006814
Armenia      Windows                              0.406593
             MacOS                                0.296703
             Linux-based                          0.230769
             Windows Subsystem for Linux (WSL)    0.054945
             Other (please specify):              0.010989
Australia    Windows                              0.454435
             MacOS                                0.304374
             Linux-based                          0.191373
             Windows Subsystem for Linux (WSL)    0.038882
             Other (please specify):              0.009113
             BSD                                  0.001823
Austria      Windows                              0.472772
             Linux-based                          0.308168
             MacOS                                0.188119
             Windows Subsystem for Linux (WSL)    0.023515
             BSD                                  0.003713
             Other (please specify):              0.003713
Azerbaijan   Windows                              0.562500
Name: OpSys, dtype: float64

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['Bulgaria']

OpSys
Windows                              0.534826
Linux-based                          0.243781
MacOS                                0.184080
Windows Subsystem for Linux (WSL)    0.019900
Other (please specify):              0.012438
BSD                                  0.004975
Name: OpSys, dtype: float64

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['China']

OpSys
Windows                              0.465700
MacOS                                0.257005
Linux-based                          0.208696
Windows Subsystem for Linux (WSL)    0.058937
BSD                                  0.006763
Other (please specify):              0.002899
Name: OpSys, dtype: float64

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['Russian Federation']

OpSys
Windows                              0.417799
Linux-based                          0.302989
MacOS                                0.240489
Windows Subsystem for Linux (WSL)    0.027853
Other (please specify):              0.008152
BSD                                  0.002717
Name: OpSys, dtype: float64

In [ ]:
# Get the median salaries
country_group['SalaryUSD'].median()

Country
Afghanistan                              9792.0
Albania                                 15900.0
Algeria                                  9875.0
Andorra                                 94045.5
Angola                                   9750.0
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                12678.0
Yemen                                    3954.0
Zambia                                   9816.0
Zimbabwe                                 7200.0
Name: SalaryUSD, Length: 181, dtype: float64

In [ ]:
country_group['SalaryUSD'].median().loc['Germany']

64859.0

In [ ]:
country_group['SalaryUSD'].median().loc['Bulgaria']

33486.0

In [ ]:
country_group['SalaryUSD'].median().loc['United States of America']

125000.0

In [ ]:
# See the median and mean salaries
country_group['SalaryUSD'].agg(['median', 'mean'])

                                       median          mean
Country
Afghanistan                            9792.0  2.794748e+06
Albania                               15900.0  4.499814e+04
Algeria                                9875.0  1.446114e+04
Andorra                               94045.5  8.928200e+04
Angola                                 9750.0  2.155680e+04
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  2.246505e+04
Viet Nam                              12678.0  1.995289e+04
Yemen                                  3954.0  5.628667e+03
Zambia                                 9816.0  1.991491e+04
Zimbabwe                               7200.0  1.141477e+04

[181 rows x 2 columns]

In [ ]:
# What percentage of people from each country know Python?

# (note: using the following approaches we'll ignore NaN values)

# using the filtering approach. Works, but we'll have to manually go through each country.
cond = (df['Country'] == 'India')
df[cond]['LanguageHaveWorkedWith'].str.contains('Python').value_counts(normalize=True).loc[True]

0.5088981814645531

In [ ]:
# using the groupby approach
num_ppl_using_py_by_country = country_group['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum() / x.count())
num_ppl_using_py_by_country

Country
Afghanistan                             0.327869
Albania                                 0.422535
Algeria                                 0.422222
Andorra                                 0.400000
Angola                                  0.200000
                                          ...
Venezuela, Bolivarian Republic of...    0.413462
Viet Nam                                0.454068
Yemen                                   0.315789
Zambia                                  0.545455
Zimbabwe                                0.500000
Name: LanguageHaveWorkedWith, Length: 181, dtype: float64

In [ ]:
num_ppl_using_py_by_country.loc['India']

0.5088981814645531

In [ ]:
num_ppl_using_py_by_country.loc['Bulgaria']

0.2947103274559194

In [ ]:
pd.DataFrame(num_ppl_using_py_by_country.sort_values(ascending=False))

                                  LanguageHaveWorkedWith
Country
Tuvalu                                               1.0
Liechtenstein                                        1.0
Brunei Darussalam                                    1.0
Sierra Leone                                         1.0
Saint Lucia                                          1.0
...                                                  ...
Mali                                                 0.0
Monaco                                               0.0
Papua New Guinea                                     0.0
Saint Kitts and Nevis                                0.0
Saint Vincent and the Grenadines                     0.0

[181 rows x 1 columns]

## Cleaning Data - Casting Datatypes and Handling Missing Values

In [ ]:
people = {
    'first': ['SimoFirst', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['SimoLast', 'Doe', 'Doe', 'Sirhc', np.nan, np.nan, 'Missing'],
    'email': ['s.e.hristov99@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', None, np.nan, 'Anon@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing'],
}

NameError: ignored

> **Approach 1**: just remove the rows that have at least 1 missing value.

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

In [ ]:
ppl_df.dropna()
# by default it is actually ppl_df.dropna(axis='index', how='any')
# index -> drops rows
# any -> if any columns has a missing values. Note: sometimes it might be ok,
# if the person does not have an `age`.

In [ ]:
# remove rows if all columns have missing values
ppl_df.dropna(how='all')

In [ ]:
# remove columns if all rows have missing values
ppl_df.dropna(axis=1, how='all')  # Same as ppl_df.dropna(axis='columns', how='all')

In [ ]:
# remove columns if any row has a missing value
ppl_df.dropna(axis=1, how='any')

In [ ]:
# remove entries with no emails
ppl_df.dropna(axis=0, subset=['email'])

In [ ]:
# remove entries if they don't have an email and last name
ppl_df.dropna(axis=0, how='all', subset=['email', 'last'])

> **Custom missing values**: substitue them with `np.nan` by using the `replace` method.

In [ ]:
ppl_df = ppl_df.replace({
    'Missing': np.nan,
    'NA': np.nan,
})

In [ ]:
ppl_df.dropna()

> **Approach 2**: full them in (impute them) using statistics about the column.

In [ ]:
ppl_df = pd.DataFrame(people).replace({
    'Missing': np.nan,
    'NA': np.nan,
})
ppl_df

In [ ]:
# for numerical values: fill in with the mean / mode / the mean value of the KNN
# for categorical values: create a new category, for ex. 'missing'
ppl_df.fillna('MISSING')

**Casting**

In [ ]:
ppl_df.fillna(0)

In [ ]:
ppl_df.info()

In [ ]:
# because the `age` column is of type `object` we cannot get its mean
# ppl_df['age'].mean()

In [ ]:
# the NaN value is actually a float 'under the hood'
type(np.nan)

In [ ]:
# so we cannot cast to integers directly (i.e. without substitution or removal)
# ppl_df['age'] = ppl_df['age'].astype(np.int32)

In [ ]:
# because it is a numerical variable, let's substitute is with the mean
ppl_df['age'] = ppl_df['age'].astype(np.float32)
ppl_df['age']

In [ ]:
ppl_df['age'] = ppl_df['age'].fillna(ppl_df['age'].mean())
ppl_df

In [ ]:
ppl_df.info()

In [ ]:
ppl_df['age'].mean()

In [ ]:
# What is the average number of years of coding experience?
df['YearsCode'].head(10)

In [ ]:
# Note that the column has a dtype `object`!
# That means that we can neither take the mean:
# df['YearsCode'].mean()

In [ ]:
# nor can we cast to float
# df['YearsCode'].astype(np.float)

In [ ]:
# however, the good thing about this error is that it shows us
# what the problem actually is - we have a string as an entry

# in order to deal with this problem, we'll replace
# all the strings with a number
df['YearsCode'].unique()

In [ ]:
df['YearsCode'] = df['YearsCode'].replace({
    'Less than 1 year': 0,
    'More than 50 years': 51,
})
df['YearsCode'].unique()

In [ ]:
# now we can convert to float
df['YearsCode'] = df['YearsCode'].astype(np.float32)
df['YearsCode']

In [ ]:
df['YearsCode'].mean()

In [ ]:
df['YearsCode'].mode()[0]

In [ ]:
df['YearsCode'].median()

## Reading/Writing Data to Different Sources - Excel, JSON, SQL, Etc

We'll pretend that we only need the results for Bulgaria. Let's save them as a `csv` to show how it's done.

In [ ]:
# We say that the table already has a column that can act as an index.
# Let's use it.

df = pd.read_csv(DATA_PATH, index_col='ResponseId')
df

In [ ]:
# Get the results from bulgarian developers.
cond = (df['Country'] == 'Bulgaria')
df[cond]

In [ ]:
# Export this dataframe to a new csv file.
df.to_csv('results_for_bulgaria.csv')

# For Home

Choose a dataset from a previous year and analyse it using Pandas!

In [110]:
!wget https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2020.zip -O tmp.zip
!unzip tmp.zip -d ./data
!rm tmp.zip

--2022-03-16 14:31:35--  https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2020.zip
Resolving info.stackoverflowsolutions.com (info.stackoverflowsolutions.com)... 104.17.70.206, 104.17.72.206, 104.17.73.206, ...
Connecting to info.stackoverflowsolutions.com (info.stackoverflowsolutions.com)|104.17.70.206|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9908290 (9.4M) [application/zip]
Saving to: ‘tmp.zip’

tmp.zip             100%[===================>]   9.45M  1.02MB/s    in 10s

2022-03-16 14:31:46 (945 KB/s) - ‘tmp.zip’ saved [9908290/9908290]

Archive:  tmp.zip
replace ./data/README_2020.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./data/README_2020.txt
replace ./data/so_survey_2020.pdf? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./data/so_survey_2020.pdf
replace ./data/survey_results_public.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./data/survey_results_public.csv
replace ./data/survey_results_schema.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace ./data/survey_results_schema.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace ./data/survey_results_schema.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace ./data/survey_results_schema.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace ./data/survey_results_schema.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ./data/survey_results_schema.csv

In [111]:
import pandas as pd
import numpy as np

In [112]:
DATA_PATH = '/content/data/survey_results_public.csv'
SCHEMA_PATH = '/content/data/survey_results_schema.csv'

In [113]:
# Get dataset
df = pd.read_csv(DATA_PATH)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [114]:
# Get questions
schema_df = pd.read_csv(SCHEMA_PATH)
schema_df

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [115]:
# Get all table columns of dataset
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

---

**Test Meta Information**

*Q1 Count of responses to the survey*

In [116]:
'Q1 How many people responded to the survey? {} responses'.format(df.shape[0])

'Q1 How many people responded to the survey? 64461 responses'

*Q2 Count of questions used in the servey*

In [117]:
'Q2 How many questions were included in the survey? {} questions'.format(schema_df.shape[0])

'Q2 How many questions were included in the survey? 61 questions'

---

**Count responses by type**

*Q3 Which role best describes the respondents?*

In [118]:
df['MainBranch'].value_counts().map(lambda x: f'is the role of {x} respondents')

I am a developer by profession                                                   is the role of 47193 respondents
I am a student who is learning to code                                            is the role of 7970 respondents
I am not primarily a developer, but I write code sometimes as part of my work     is the role of 5502 respondents
I code primarily as a hobby                                                       is the role of 2314 respondents
I used to be a developer by profession, but no longer am                          is the role of 1183 respondents
Name: MainBranch, dtype: object

*Q4 Which is the current employment status of the respondents?*

In [119]:
df['Employment'].value_counts().map(lambda x: f'is the employment status of {x} respondents')

Employed full-time                                      is the employment status of 45270 respondents
Student                                                  is the employment status of 7787 respondents
Independent contractor, freelancer, or self-employed     is the employment status of 5672 respondents
Not employed, but looking for work                       is the employment status of 2343 respondents
Employed part-time                                       is the employment status of 2217 respondents
Not employed, and not looking for work                    is the employment status of 322 respondents
Retired                                                   is the employment status of 243 respondents
Name: Employment, dtype: object

*Q5 Which is the highest completed education level among the respondents?*

In [120]:
df['EdLevel'].value_counts(normalize=True).map(lambda x: f'has been completed by {round(x*100, 2)}% of the respondents')

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          has been completed by 46.22% of the respondents
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       has been completed by 22.83% of the respondents
Some college/university study without earning a degree                                 has been completed by 12.6% of the respondents
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     has been completed by 8.31% of the respondents
Associate degree (A.A., A.S., etc.)                                                    has been completed by 3.21% of the respondents
Other doctoral degree (Ph.D., Ed.D., etc.)                                             has been completed by 2.94% of the respondents
Primary/elementary school                                                              has been completed by 1.64% of the respondents
Professional degree (JD, MD, etc.)                                                     has been completed by 1.39% of the respondents
I never completed any formal education                                                 has been completed by 0.86% of the respondents
Name: EdLevel, dtype: object

*Q6 Which is the most common undergraduate major among the respondents?*

In [121]:
df['UndergradMajor'].value_counts(normalize=True).map(lambda x: f'is the major of {round(x*100, 2)}% of the respondents')

Computer science, computer engineering, or software engineering                   is the major of 61.93% of the respondents
Another engineering discipline (such as civil, electrical, mechanical, etc.)       is the major of 9.32% of the respondents
Information systems, information technology, or system administration              is the major of 7.98% of the respondents
A natural science (such as biology, chemistry, physics, etc.)                      is the major of 4.32% of the respondents
Mathematics or statistics                                                          is the major of 3.63% of the respondents
Web development or web design                                                      is the major of 3.51% of the respondents
A business discipline (such as accounting, finance, marketing, etc.)                is the major of 2.7% of the respondents
A humanities discipline (such as literature, history, philosophy, etc.)            is the major of 1.97% of the respondents
A social science (such as anthropology, psychology, political science, etc.)       is the major of 1.83% of the respondents
Fine arts or performing arts (such as graphic design, music, studio art, etc.)     is the major of 1.42% of the respondents
I never declared a major                                                           is the major of 0.89% of the respondents
A health science (such as nursing, pharmacy, radiology, etc.)                      is the major of 0.49% of the respondents
Name: UndergradMajor, dtype: object

*Q7 How old are the respondents currently?*

In [122]:
df['Age'].value_counts().map(lambda x: f'is the current age of {x} respondents')

25.0    is the current age of 2693 respondents
28.0    is the current age of 2412 respondents
30.0    is the current age of 2406 respondents
26.0    is the current age of 2391 respondents
27.0    is the current age of 2338 respondents
                         ...
34.5       is the current age of 1 respondents
14.7       is the current age of 1 respondents
97.0       is the current age of 1 respondents
3.0        is the current age of 1 respondents
14.5       is the current age of 1 respondents
Name: Age, Length: 110, dtype: object

*Q8 How old were the respondents when they wrote their first line of code?*

In [123]:
df['Age1stCode'].value_counts().map(lambda x: f'YO was picked by {x} respondents')

15    YO was picked by 5618 respondents
14    YO was picked by 5514 respondents
16    YO was picked by 5463 respondents
18    YO was picked by 5382 respondents
12    YO was picked by 5081 respondents
                    ...
68       YO was picked by 1 respondents
76       YO was picked by 1 respondents
72       YO was picked by 1 respondents
83       YO was picked by 1 respondents
63       YO was picked by 1 respondents
Name: Age1stCode, Length: 63, dtype: object

*Q9 How many years of overall coding experience do the respondents have?*

In [124]:
df['YearsCode'].value_counts().map(lambda x: f'YOE was picked by {x} respondents')

10                    YOE was picked by 4510 respondents
5                     YOE was picked by 4249 respondents
6                     YOE was picked by 3834 respondents
7                     YOE was picked by 3477 respondents
8                     YOE was picked by 3407 respondents
4                     YOE was picked by 3254 respondents
3                     YOE was picked by 2951 respondents
15                    YOE was picked by 2586 respondents
20                    YOE was picked by 2562 respondents
12                    YOE was picked by 2453 respondents
9                     YOE was picked by 2344 respondents
2                     YOE was picked by 1916 respondents
11                    YOE was picked by 1691 respondents
14                    YOE was picked by 1479 respondents
13                    YOE was picked by 1468 respondents
25                    YOE was picked by 1338 respondents
16                    YOE was picked by 1203 respondents
30                    YOE was picked by 1114 respondents
18                    YOE was picked by 1089 respondents
17                    YOE was picked by 1057 respondents
1                      YOE was picked by 902 respondents
22                     YOE was picked by 792 respondents
Less than 1 year       YOE was picked by 757 respondents
19                     YOE was picked by 657 respondents
35                     YOE was picked by 599 respondents
23                     YOE was picked by 572 respondents
21                     YOE was picked by 550 respondents
40                     YOE was picked by 535 respondents
24                     YOE was picked by 449 respondents
26                     YOE was picked by 378 respondents
27                     YOE was picked by 335 respondents
28                     YOE was picked by 314 respondents
32                     YOE was picked by 309 respondents
38                     YOE was picked by 289 respondents
37                     YOE was picked by 258 respondents
36                     YOE was picked by 246 respondents
33                     YOE was picked by 236 respondents
34                     YOE was picked by 230 respondents
29                     YOE was picked by 178 respondents
39                     YOE was picked by 155 respondents
31                     YOE was picked by 154 respondents
More than 50 years     YOE was picked by 143 respondents
42                     YOE was picked by 127 respondents
45                     YOE was picked by 108 respondents
41                      YOE was picked by 99 respondents
43                      YOE was picked by 92 respondents
44                      YOE was picked by 69 respondents
46                      YOE was picked by 44 respondents
50                      YOE was picked by 42 respondents
48                      YOE was picked by 35 respondents
47                      YOE was picked by 27 respondents
49                      YOE was picked by 21 respondents
Name: YearsCode, dtype: object

*Q10 How many years of professional coding experience do the respondents have?*

In [125]:
df['YearsCodePro'].value_counts().map(lambda x: f'YOE was picked by {x} respondents')

3                     YOE was picked by 4815 respondents
2                     YOE was picked by 4814 respondents
5                     YOE was picked by 3978 respondents
4                     YOE was picked by 3716 respondents
1                     YOE was picked by 2818 respondents
6                     YOE was picked by 2741 respondents
10                    YOE was picked by 2735 respondents
8                     YOE was picked by 2234 respondents
7                     YOE was picked by 2229 respondents
Less than 1 year      YOE was picked by 2174 respondents
15                    YOE was picked by 1531 respondents
12                    YOE was picked by 1460 respondents
20                    YOE was picked by 1416 respondents
9                     YOE was picked by 1232 respondents
11                     YOE was picked by 947 respondents
13                     YOE was picked by 904 respondents
14                     YOE was picked by 758 respondents
16                     YOE was picked by 624 respondents
25                     YOE was picked by 583 respondents
18                     YOE was picked by 533 respondents
17                     YOE was picked by 475 respondents
22                     YOE was picked by 444 respondents
19                     YOE was picked by 373 respondents
30                     YOE was picked by 370 respondents
21                     YOE was picked by 341 respondents
23                     YOE was picked by 321 respondents
24                     YOE was picked by 259 respondents
26                     YOE was picked by 180 respondents
35                     YOE was picked by 162 respondents
27                     YOE was picked by 149 respondents
28                     YOE was picked by 128 respondents
32                     YOE was picked by 103 respondents
40                     YOE was picked by 101 respondents
33                      YOE was picked by 93 respondents
31                      YOE was picked by 80 respondents
34                      YOE was picked by 79 respondents
29                      YOE was picked by 72 respondents
38                      YOE was picked by 64 respondents
36                      YOE was picked by 57 respondents
37                      YOE was picked by 53 respondents
39                      YOE was picked by 42 respondents
More than 50 years      YOE was picked by 42 respondents
42                      YOE was picked by 26 respondents
45                      YOE was picked by 21 respondents
41                      YOE was picked by 19 respondents
44                      YOE was picked by 16 respondents
43                      YOE was picked by 15 respondents
46                       YOE was picked by 7 respondents
47                       YOE was picked by 5 respondents
50                       YOE was picked by 5 respondents
48                       YOE was picked by 4 respondents
49                       YOE was picked by 1 respondents
Name: YearsCodePro, dtype: object

*Q11 Which are the 5 most common job titles among the respondents?*

In [126]:
df['DevType'].value_counts().head(5).map(lambda x: f'is the role of {x} respondents')

Developer, full-stack                                             is the role of 4424 respondents
Developer, back-end                                               is the role of 3086 respondents
Developer, back-end;Developer, front-end;Developer, full-stack    is the role of 2227 respondents
Developer, back-end;Developer, full-stack                         is the role of 1476 respondents
Developer, front-end                                              is the role of 1401 respondents
Name: DevType, dtype: object

*Q12 Which coding language have the respondents worked most with in the past year?*

In [127]:
df['LanguageWorkedWith'].value_counts().map(lambda x: f'was used by {x} respondents')

HTML/CSS;JavaScript;PHP;SQL                                                         was used by 1073 respondents
HTML/CSS;JavaScript                                                                  was used by 900 respondents
C#;HTML/CSS;JavaScript;SQL                                                           was used by 856 respondents
C#;HTML/CSS;JavaScript;SQL;TypeScript                                                was used by 754 respondents
HTML/CSS;JavaScript;TypeScript                                                       was used by 697 respondents
                                                                                                ...
Bash/Shell/PowerShell;Go;Java;JavaScript;SQL                                           was used by 1 respondents
C;C#;HTML/CSS;PHP;Python;SQL                                                           was used by 1 respondents
Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScript;Kotlin;R;SQL                         was used by 1 respondents
Bash/Shell/PowerShell;C;C#;C++;Java;Ruby;SQL                                           was used by 1 respondents
Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;JavaScript;Objective-C;Python;Swift       was used by 1 respondents
Name: LanguageWorkedWith, Length: 14256, dtype: object

*Q13 How many respondents have worked with HTML in the past year?*

In [128]:
html_filter = df['LanguageWorkedWith'].str.contains('HTML', na=False)

'Q13 How many respondents have worked with HTML in the past year? {}'.format((df[html_filter]).shape[0])

'Q13 How many respondents have worked with HTML in the past year? 36181'

*Q14 Which was the most commonly used database among the respondents in the past year?*

In [129]:
df['DatabaseWorkedWith'].value_counts().map(lambda x: f' was used by {x} respondents')

MySQL                                                                                          was used by 3827 respondents
Microsoft SQL Server                                                                           was used by 3298 respondents
PostgreSQL                                                                                     was used by 1937 respondents
SQLite                                                                                         was used by 1313 respondents
Microsoft SQL Server;MySQL                                                                     was used by 1158 respondents
                                                                                                          ...
Cassandra;Couchbase;DynamoDB;Elasticsearch;Firebase;Microsoft SQL Server;PostgreSQL;SQLite        was used by 1 respondents
Cassandra;IBM DB2;MySQL;PostgreSQL                                                                was used by 1 respondents
Couchbase;Elasticsearch;MySQL;Oracle;PostgreSQL                                                   was used by 1 respondents
Couchbase;Elasticsearch;MariaDB;MongoDB;MySQL;PostgreSQL                                          was used by 1 respondents
Firebase;IBM DB2;MariaDB;Microsoft SQL Server;MySQL;Oracle                                        was used by 1 respondents
Name: DatabaseWorkedWith, Length: 2808, dtype: object

*Q15 How many respondents have worked with SQL in the past year?*

In [130]:
sql_filter = df['DatabaseWorkedWith'].str.contains('SQL', na=False)
'Q15 How many respondents have worked with SQL in the past year? {} respondents'.format((df[sql_filter]).shape[0])

'Q15 How many respondents have worked with SQL in the past year? 44712 respondents'

*Q16  Which were the 5 most commonly used web frameworks among the respondents in the past year?*

In [131]:
df['WebframeWorkedWith'].value_counts().head().map(lambda x: f'was used by {x} respondents')

jQuery      was used by 2079 respondents
React.js    was used by 1917 respondents
Spring      was used by 1350 respondents
Flask       was used by 1074 respondents
Django       was used by 920 respondents
Name: WebframeWorkedWith, dtype: object

*Q17 Which was the preferred operating system of the respondents?*

In [132]:
df['OpSys'].value_counts().map(lambda x: f'was preferred by {x} respondents')

Windows        was preferred by 27170 respondents
Linux-based    was preferred by 14932 respondents
MacOS          was preferred by 14075 respondents
BSD               was preferred by 51 respondents
Name: OpSys, dtype: object

*Q18 Which is the size of the organization the respondents work in?*

In [133]:
df['OrgSize'].value_counts(normalize=True).map(lambda x: f'is the organization size {round(x*100, 2)}% of the respondents work in')

20 to 99 employees                                    is the organization size 21.65% of the respond...
100 to 499 employees                                  is the organization size 18.75% of the respond...
10,000 or more employees                              is the organization size 13.87% of the respond...
1,000 to 4,999 employees                              is the organization size 10.97% of the respond...
2 to 9 employees                                      is the organization size 9.94% of the responde...
10 to 19 employees                                    is the organization size 9.31% of the responde...
500 to 999 employees                                  is the organization size 6.5% of the responden...
Just me - I am a freelancer, sole proprietor, etc.    is the organization size 4.94% of the responde...
5,000 to 9,999 employees                              is the organization size 4.08% of the responde...
Name: OrgSize, dtype: object

*Q19 How many hours do the respondents work for weekly?*

In [134]:
df['WorkWeekHrs'].value_counts(normalize=True).map(lambda x: f'is the the weekly hour rate of {round(x*100, 2)}% of the respondents')

40.00     is the the weekly hour rate of 46.88% of the r...
45.00     is the the weekly hour rate of 9.2% of the res...
50.00     is the the weekly hour rate of 6.68% of the re...
35.00     is the the weekly hour rate of 4.86% of the re...
38.00     is the the weekly hour rate of 3.29% of the re...
                                ...
79.00     is the the weekly hour rate of 0.0% of the res...
36.35     is the the weekly hour rate of 0.0% of the res...
112.00    is the the weekly hour rate of 0.0% of the res...
7.70      is the the weekly hour rate of 0.0% of the res...
87.00     is the the weekly hour rate of 0.0% of the res...
Name: WorkWeekHrs, Length: 157, dtype: object

*Q20 What are the 5 most common salaries (converted to USD)?*

In [135]:
df['ConvertedComp'].value_counts().head().map(lambda x: f'USD is the salary of {round(x*100, 2)} respondents')

120000.0     USD is the salary of 34100 respondents
100000.0     USD is the salary of 30600 respondents
150000.0     USD is the salary of 27700 respondents
1000000.0    USD is the salary of 25800 respondents
2000000.0    USD is the salary of 25800 respondents
Name: ConvertedComp, dtype: object

---

**Sort database**

*Database sorted by respondent age*

In [136]:
df = df.sort_values(by='Age')
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
20042,20122,I am a developer by profession,Yes,1.0,20,Monthly,1.000000e+11,1000000.0,Indonesia,Indonesian rupiah,...,Neither easy nor difficult,Too long,Yes,"Computer science, computer engineering, or sof...",Vue.js,Angular,Somewhat less welcome now than last year,9.0,5,1
54687,55797,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,4.000000e+00,48.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,Yes,NaN,Angular,Angular,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year
58292,59438,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,6.000000e+06,5268.0,Indonesia,Indonesian rupiah,...,Neither easy nor difficult,Too long,No,NaN,ASP.NET Core;Vue.js,Angular.js;Express,Somewhat more welcome now than last year,50.0,3,2
25061,25154,I am a developer by profession,Yes,1.0,12,Yearly,7.000000e+04,75669.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;React.js,Angular;ASP.NET Core;Express;jQuery;Laravel;Re...,A lot more welcome now than last year,65.0,14,7
12271,12310,I am a student who is learning to code,Yes,1.0,23,NaN,NaN,NaN,Nigeria,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django,Django,Somewhat less welcome now than last year,NaN,Less than 1 year,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

*Database sorted by salary (converted to USD)*

In [137]:
df = df.sort_values(by='ConvertedComp', ascending=False)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
15229,15280,I am a developer by profession,Yes,49.0,8,Weekly,130000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;React.js,NaN,Just as welcome now as I felt last year,40.0,41,23
59488,60666,I am a developer by profession,Yes,NaN,14,Monthly,190000.0,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,Fine arts or performing arts (such as graphic ...,NaN,NaN,Just as welcome now as I felt last year,40.0,20,15
60582,61798,I am a developer by profession,Yes,28.0,15,Weekly,120000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,35.0,13,8
7956,7988,I am a developer by profession,Yes,28.0,14,Weekly,110000.0,2000000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,30.0,15,5
14180,14224,I am a developer by profession,Yes,31.0,19,Weekly,91000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,Fine arts or performing arts (such as graphic ...,Express;Laravel;React.js;Ruby on Rails;Vue.js,jQuery;Vue.js,Just as welcome now as I felt last year,40.0,11,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

---

**Statistics**

*Q21 What is the most common salary (converted in USD)?*

In [138]:
'Q21 What is the most common salary among the respondents? {}'.format(df['ConvertedComp'].mode()[0])

'Q21 What is the most common salary among the respondents? 120000.0'

*Q22 What is the average salary (converted in USD)?*

In [139]:
'Q22 What is the average salary (converted in USD)? {}'.format(round(df['ConvertedComp'].mean(), 2))

'Q22 What is the average salary (converted in USD)? 103756.05'

---

**Splitting into groups**

In [140]:
group_by_country = df.groupby(['Country'])

*Q24 Which respondents are from Bulgaria?*

In [141]:
bg_respondents = group_by_country.get_group('Bulgaria')
bg_respondents

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
24431,24522,I am a developer by profession,Yes,35.0,14,Yearly,120000.0,120000.0,Bulgaria,United States dollar,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,60.0,15,12
15118,15168,"I am not primarily a developer, but I write co...",Yes,32.0,11,Monthly,18000.0,119352.0,Bulgaria,Bulgarian lev,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,50.0,20,18
32992,33112,I am a developer by profession,Yes,32.0,12,Monthly,17000.0,112716.0,Bulgaria,Bulgarian lev,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django,Django,A lot less welcome now than last year,50.0,21,10
23509,23599,I am a developer by profession,No,42.0,11,Yearly,100000.0,108098.0,Bulgaria,European Euro,...,Easy,Too long,No,"Information systems, information technology, o...",Flask;jQuery;React.js,Django;Flask;jQuery;React.js,Just as welcome now as I felt last year,NaN,30,18
21814,21899,I am a developer by profession,Yes,44.0,15,Monthly,15000.0,99456.0,Bulgaria,Bulgarian lev,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;Express;jQuery,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,39,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63039,64413,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,NaN,NaN,NaN
63375,64783,I am a student who is learning to code,Yes,NaN,22,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 year,NaN
64078,65548,I am a student who is learning to code,Yes,NaN,11,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
64108,65580,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64450,64013,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Bulgaria,NaN,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Just as welcome now as I felt last year,NaN,NaN,NaN

*Q25 How many respondents are from Bulgaria?*

In [142]:
'Q25 How many respondents were from Bulgaria? {}'.format(bg_respondents.shape[0])

'Q25 How many respondents were from Bulgaria? 323'

*Q26 What are the sizes of the organizations that the respondents from Bulgaria work for?*

In [143]:
bg_respondents['OrgSize'].value_counts(normalize=True).map(lambda x: f'is the organization size {round(x*100, 2)}% of the respondents work in')

20 to 99 employees                                    is the organization size 26.45% of the respond...
100 to 499 employees                                  is the organization size 22.73% of the respond...
2 to 9 employees                                      is the organization size 11.16% of the respond...
10 to 19 employees                                    is the organization size 11.16% of the respond...
10,000 or more employees                              is the organization size 8.68% of the responde...
1,000 to 4,999 employees                              is the organization size 7.02% of the responde...
Just me - I am a freelancer, sole proprietor, etc.    is the organization size 5.79% of the responde...
500 to 999 employees                                  is the organization size 5.37% of the responde...
5,000 to 9,999 employees                              is the organization size 1.65% of the responde...
Name: OrgSize, dtype: object

*Q27 What part of the Bulgarian respondents work with Python?*

In [144]:
'Q27 What part of the Bulgarian respondents work with Python? {}%'.format(round(bg_respondents['LanguageWorkedWith'].str.contains('Python').value_counts(normalize=True)[True]*100, 2))

'Q27 What part of the Bulgarian respondents work with Python? 29.67%'